server:
  port: 8082

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/product_db
    username: product
    password: product

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  cloud:
    config:
      enabled: false
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
#    register-with-eureka: false
#    fetch-registry: false



